################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OpenQbit.MasterdbSystem.git/.vs/OpenQbit.Masterdb/v14/.suo
